<html>
    <head>
        <title>Django Boy blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Boy Blog</a></h1>
        </div>
        
        <div>
            <h2><a href="">Wild</a></h2>
            <p>"Wild"is a song by Australian singer and songwriter Troye Sivan from his fourth extended play, Wild. It was written by Sivan and Alex Hope.</p>
        </div>
        
        <div>
            <h2><a href="">Youth</a></h2>
            <p>"Youth" is a song by Australian singer and songwriter Troye Sivan from his debut studio album Blue Neighbourhood (2015). It was written by Sivan, Bram Inscore, Brett McLaughlin (Leland), Alex Hope and Allie X, and produced by Bram Inscore</p>
        </div>
    </body>
</html>